<!DOCTYPE HTML>
<html>
  <head>
		<title>YHack 2016 | Application</title>
		<link href="static/css/reset.css" rel="stylesheet">
    <link href="static/css/statuses.css" rel="stylesheet">
    <link href="static/css/ybox.css" rel="stylesheet">
    <link href="static/css/loader.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script>!window.jQuery && document.write('<script src="static/javascript/jquery-1.11.1.js"><\/script>')</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="static/javascript/loader.js"></script>
    <script type="text/javascript" src="static/javascript/statuses.js"></script>
  </head>
  <body>
    <div id="blank">
      <svg id="hollow" width="191px" height="148px" viewBox="0 0 191 148" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Official" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="logo-1" transform="translate(2.000000, 2.000000)" stroke-width="3" stroke="#FFFFFF">
              <g id="logo">
                  <g id="Official">
                      <path class="hollow-path" d="M106.379477,139.321238 L186.243879,3.22657906 C187.289604,1.44458865 186.455073,0 184.393041,0 L2.30296634,0 C0.23505184,0 -0.59291081,1.44575696 0.45212867,3.22657906 L80.7853943,140.120215 L80.7853943,95.8234799 L37.5636568,23.4086722 L65.9115171,23.4086722 L93.7344169,72.9185529 L121.557317,23.4086722 L148.680269,23.4086722 L106.379477,95.8234799 L106.379477,139.321238 L106.379477,139.321238 Z" id="logo"></path>
                  </g>
              </g>
          </g>
      </g>
      </svg>
    </div>

    <div id="content-wrapper">
      <div class="loaded" id="content">
        <h1>Success!<br>
        <img src="static/images/blue-logo.png" height="180px">
        <h2>Thanks {{ firstName}}! Your registration has been confirmed.<br>
        <h3>To update your application, visit <a href="/dashboard">our dashboard</a><br>
        <!-- <h3>We will keep you updated via email - stay tuned!</h3> -->
<!--         <h3> Unfortunately, we are already over-capacity - if we let anyone off the waitlist we will update you via email.</h3> -->
        </h3>
        </h2>
        </h1>
      </div>
    </div>
  </body>
</html>