<!DOCTYPE HTML>
<html>
    <head>
        <title>CS490 Project</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta id="my-data" data-name="{{email}}">
        <link rel="stylesheet" href="static/css/main.css" />
        <link rel="stylesheet" href="static/css/personal.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="static/javascript/personal.js"></script>
        <noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
    </head>
    <body class="is-loading">
    	<script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '646132148891482',
              xfbml      : true,
              version    : 'v2.8'
            });
            FB.AppEvents.logPageView();
          };

          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script>

        <!-- Wrapper -->
            <div id="wrapper">

                <!-- Main -->
                    <section id="main">
                        <header>
                            <span class="avatar"><img src="static/images/avatar.jpg" alt="" /></span>
                            <h1></h1>
                        </header>
                        <h1>Authenticate Yourself on Facebook Messenger!</h1>
                        <br>
                        <h2>Message us anything within the next 5 minutes and we'll log you in (:</h2>
                        <br>
                        <div class="fb-messengermessageus" 
                          messenger_app_id="646132148891482" 
                          page_id="1003130783125627"
                          color="blue"
                          size="standard" ></div>
                        <hr />
                    </section>

                <!-- Footer -->
                    <footer id="footer">
                        <ul class="copyright">
                        </ul>
                    </footer>

            </div>

        <!-- Scripts -->
            <script>
                if ('addEventListener' in window) {
                    window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
                    document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
                }
            </script>
            <script>
              function doPoll(){
                console.log('http://cs490-project.herokuapp.com/check_db?email=' + "{{ email }}");
                var post_html = $("#my-data").data();
                console.log(post_html);
                $.post(post_html, function(data) {
                    console.log(data);
                    if (data === 1) {
                      location.href = 'http://cs490-project.herokuapp.com/success';
                    }
                    setTimeout(doPoll,500);
                });
              }
              $(document).ready(function() {
                doPoll();
              })
            </script>

    </body>
</html>