<!DOCTYPE HTML>
<html>
    <head>
        <title>CS490 Project</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="google-site-verification" content="eMmwGoa6ryPyFGtvFxotyW93TOcq8NK35Vme6GBYgdo" />
        <link rel="stylesheet" href="static/css/main.css" />
        <link rel="stylesheet" href="static/css/personal.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="static/javascript/jquery.form.js"></script>
        <script type="text/javascript" src="static/javascript/personal.js"></script>
        <noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
    </head>
    <body class="is-loading">

        <!-- Wrapper -->
            <div id="wrapper">

                <!-- Main -->
                    <section id="main">
                        <header>
                            <span class="avatar"><img src="static/images/avatar.jpg" alt="" /></span>
                            <h1></h1>
                        </header>
                        <form method="POST" action="/configure_sso" enctype="multipart/form-data">
                            <h2 id="login-text">Add Service Provider</h2>
                            <div class="field">
                                <input type="text" name="name" id="name" placeholder="Name of Service Provider" />
                            </div>
                            <div class="field">
                                <input type="text" name="acs-url" placeholder="ACS URL" style="">
                            </div>
                            <div class="field">
                                <label class="encryption-file-upload">
                                    <input id="file-name" type="file" name="key">
                                    <span id="file-selected">Upload encryption key</span>
                                </label>
                            </div>
                            <ul class="actions">
                                <input autocorrect="off" id="login-button-actual" type="submit" name="submit" class="submit action-button" value="Submit" />
                            </ul>
                            <a href="/" class="button">Back Home</a>
                        </form>
                        
                    </section>

                <!-- Footer -->
                    <footer id="footer">
                        <ul class="copyright">
                        </ul>
                    </footer>

            </div>

        <!-- Scripts -->
            <script>
                if ('addEventListener' in window) {
                    window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
                    document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
                }
            </script>
            <script>
                $('#file-name').bind('change', function() { 
                    console.log("hello");
                    var fileName = 'Upload encryption key'; 
                    fileName = $(this).val(); 
                    fileName = fileName.split(/(\\|\/)/g).pop()
                    if (fileName === '') {
                        fileName = 'Upload encryption key';
                    }
                    $('#file-selected').html(fileName); 
                })
            </script>

    </body>
</html>