<!DOCTYPE HTML>
<html>
    <head>
        <title>CS490 Project</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="static/css/main.css" />
        <link rel="stylesheet" href="static/css/personal.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="static/javascript/personal.js"></script>
        <noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
    </head>
    <body class="is-loading">

        <!-- Wrapper -->
            <div id="wrapper">

                <!-- Main -->
                    <section id="main">
                        <h1>Oops! Something went wrong!</h1>
                        <hr />
                        {% with messages = get_flashed_messages() %}
				          {% if messages %}
				            <div class="sign-up">
				            <ul class=flashes>
				            {% for message in messages %}
				              <p class="error-message">{{ message }}</p>
				            {% endfor %}
				            </ul>
				            </div>
				            <br />
				          {% endif %}
				        {% endwith %}
                        <a id="home-button" href="/" class="button">Back to Home</a>
                        
                    </section>

                <!-- Footer -->
                    <footer id="footer">
                        <ul class="copyright">
                        </ul>
                    </footer>

            </div>

        <!-- Scripts -->
            <script>
                if ('addEventListener' in window) {
                    window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
                    document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
                }
            </script>

    </body>
</html>