<!DOCTYPE HTML>
<html>
  <head>
  <meta name="viewport" content="user-scalable=0" />
  <title>YHack 2016 | Reset Password</title>
  <link href="static/css/reset.css" rel="stylesheet">
  <link href="static/css/form.css" rel="stylesheet">
  <link href="static/css/ybox.css" rel="stylesheet">
  <link href="static/css/loader.css" rel="stylesheet">
  <link href="static/css/login.css" media="screen" rel="stylesheet">
  <link rel="stylesheet" href="static/css/validationEngine.jquery.css" type="text/css"/>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>!window.jQuery && document.write('<script src="static/javascript/jquery-1.11.1.js"><\/script>')</script>
  <script type="text/javascript" src="static/javascript/jquery.validationEngine-en.js"></script>
  <script type="text/javascript" src="static/javascript/jquery.validationEngine.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script type="text/javascript" src="static/javascript/loader.js"></script>
  <script type="text/javascript" src="static/javascript/login.js"></script>
  <script type="text/javascript" src="static/javascript/jquery.form.js"></script>
  <meta property="og:title" content="YHack 2016">
  <meta property="og:image" content="http://www.yhack.org/static/images/fb-og.png">
  <meta property="og:url" content="http://www.yhack.org">
  </head>
  <body>

    <div id="blank">
      <svg id="hollow" width="191px" height="148px" viewBox="0 0 191 148" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Official" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="logo-1" transform="translate(2.000000, 2.000000)" stroke-width="3" stroke="#FFFFFF">
              <g id="logo">
                  <g id="Official">
                      <path class="hollow-path" d="M106.379477,139.321238 L186.243879,3.22657906 C187.289604,1.44458865 186.455073,0 184.393041,0 L2.30296634,0 C0.23505184,0 -0.59291081,1.44575696 0.45212867,3.22657906 L80.7853943,140.120215 L80.7853943,95.8234799 L37.5636568,23.4086722 L65.9115171,23.4086722 L93.7344169,72.9185529 L121.557317,23.4086722 L148.680269,23.4086722 L106.379477,95.8234799 L106.379477,139.321238 L106.379477,139.321238 Z" id="logo"></path>
                  </g>
              </g>
          </g>
      </g>
      </svg>
    </div>

    <div id="login-wrapper">
    <form class="loaded" id="login" method="POST" action="/reset-password">
      <fieldset>
        <div class="form-headings">
          <h2 class="fs-title" id="login-title">Reset Password</h2>
        </div>
        <input autocorrect="off" id="password-field" type="password" class="validate[required,minSize[6],maxSize[50]]" name="password" placeholder="Password *" />
        <input autocorrect="off" id="password-check-field" type="password" class="validate[required,equals[password-field]]" name="cpassword" placeholder="Confirm Password *" />
        <input type="submit" name="submit" class="submit action-button" value="Go" />
        <input type="hidden" name="token" value="{{token}}" />
      </fieldset>
    </form>
  </div>

  <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-42185504-1', 'yhack.org');
        ga('send', 'pageview');

    </script>

  </body>
</html>