<!DOCTYPE HTML>
<html>
    <head>
        <title>CS490 Project</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="static/css/main.css" />
        <link rel="stylesheet" href="static/css/personal.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="static/javascript/personal.js"></script>
        <noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
    </head>
    <body class="is-loading">

        <!-- Wrapper -->
            <div id="wrapper">

                <!-- Main -->
                    <section id="main">
                        <h2>A confirmation email has been sent to the following email:</h2>
                        <br>
                        <h2>{{ email }}</h2>
                        <br>
                        <p>Please confirm your email address to continue.</p>
                        
                    </section>

                <!-- Footer -->
                    <footer id="footer">
                        <ul class="copyright">
                        </ul>
                    </footer>

            </div>

        <!-- Scripts -->
            <script>
                if ('addEventListener' in window) {
                    window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
                    document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
                }
            </script>

    </body>
</html>