/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html, body {
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

html {
	background: url('../images/sterling_revised.jpg') no-repeat center center fixed;
    background-size: cover;
}

body {
	font-family: montserrat, arial, verdana;
	/*overflow-y: hidden;*/
}

/*custom form styles*/
#apply {
	margin-top: 50px;
	min-height: 720px;
}

/*Hide all except first fieldset*/
#apply fieldset:not(:first-of-type) {
	/*display: none;*/
	opacity: 0;
	z-index: -1;
}

/* other field overrides */
#school-other-field {
	margin-top: 10px;
}

#other-school-text {
	padding-bottom: 5px;
	font-size: 10px;
}

#resume-field-text {
	display: none;
}

#resume-explanation-text, .small-h3-text {
	padding-bottom: 5px;
	font-size: 10px;
}

#resume-error-text {
	display: none;
	padding-bottom: 5px;
	font-size: 10px;
	color: red;
}

@media screen and (max-height: 790px) {
	#apply {
		margin-bottom: 25px;
	}
}