/*********************

Mobile Overrides

*********************/


form {
	width: 90%;
	max-width: 9000px;
}

form input, form textarea {
	font-size: 1.8em;
	padding: .8em;
	margin-bottom: .8em;
	border-radius: .2em;
}

form fieldset {
	padding: 3em 4em;
	border-radius: .5em;
}

a {
	-moz-transition: none;
    -ms-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

label {
	margin-right: 1em;
	margin-bottom: 1em;
}


a:hover,
a:focus{
	color: inherit;
}

.fs-title {
	font-size: 2em;
	margin-bottom: .5em;
}

.fs-subtitle {
	font-size: 1.8em;
	margin-bottom: 1.6em;
}
.form-headings {
	margin-bottom: .8em;
}
.fs-error {
	font-size: 1.8em;
}
.fs-subtitle-explanation {
	font-size: 1.8em;
	margin-bottom: .8em;
}
.fs-explanation {
	font-size: 1em;
	margin-bottom: 1em;
}
.label-wrapper {
	margin-bottom: -1em;
}
.group-wrapper {
	padding: 1em;
	border-radius: .2em;
	margin-bottom: 1em;
}

#progressbar {
	margin-bottom: 4em;
}

#progressbar li {
	font-size: 1.5em;
}

#progressbar li:before {
	width: 2em;
	line-height: 2em;
	font-size: 1.5em;
	border-radius: .2em;
	margin-bottom: 1em;
}

#progressbar li:after {
	height: .4em;
	top: 1em;
}

form .action-button {
	width: 8em;
	padding: .8em .4em;
	margin: .8em .5em .8em .5em;
	border-radius: .2em;
}

.formError .formErrorContent {
	font-size: 1.5em;
	min-width: 8em;
}

.select2-container-application {
	font-size: 1.8em;
}

.select2-container-application > .formError {
	font-size: .55em;
}

.select2-container .select2-choice {
	padding: .8em;
}


#select2-container-dropdown-application {
	padding-left: 1.1em;
}

.select2-results .select2-result-label,
.select2-search input,
.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
	font-size: 1.7em;
}

a.select2-choice {
	font-size: 1em;
	margin-bottom: .8em;
	border-radius: .5em;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button,
button {
	-webkit-appearance:none;
}

input,
input[type="password"],
input[type="search"],
textarea,
input[type="range"],
isindex {
	-webkit-appearance:none;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	border:0;padding:0;margin:0;
}

input[type="file"] {
	display: none;
}

form input[type=checkbox] {
	-webkit-appearance: checkbox;
	padding: 0.4em;
	margin-right: 0.4em;
}
